<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleName</key>
    <string>Raindrops</string>

    <key>CFBundleIdentifier</key>
    <string>com.aryan.raindrops</string>

    <key>CFBundleExecutable</key>
    <string>Raindrops</string>

    <key>CFBundleIconName</key>
    <string>Raindrops</string>

    <key>CFBundleIconFile</key>
    <string>Raindrops.icns</string>

    <key>CFBundlePackageType</key>
    <string>APPL</string>
</dict>
</plist>